* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #b71c1c, #ffd700);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.img {
  width: 222px;
  height: 100%;
}
